.header
    .header_container
        a#home
        .header_column
            a.homeIcon(href=routers.home)
                |GONGMOJOA
        .header_column
            //검색창 고민 중
        .header_column
            ul
                li
                    form(action=`/view/post` method="get")
                        input(type="submit" value="공모전" name="name")
                li
                    form(action=`/view/post` method="get")                                     
                        input(type="submit" value="대외활동" name="name")
                li
                    form(action=`/view/post` method="get")
                        input(type="submit" value="봉사활동"  name="name")
                li
                    form(action=`/view/post` method="get")
                        input(type="submit" value="기타"  name="name")
                li
                    form(action="/board" method="get")
                        input(type="submit" value="게시판" name="seeboard")
        .header_columm.sideBar
            ul
                if !user
                    li
                        a.login(href=routers.login) 로그인
                    li
                        a.join(href=routers.join) 회원가입
                    li
                        a.analHand(href=`/anal/total`) 맞춤 공모전/장학금 보기
                else
                    li
                        span= `${user.nickName}님 어서오세요`
                    li
                        a.logout(href=routers.logout) 로그아웃
                    li     
                        a.userDetail(href=`/user/${user.email}`) 찜한 목록
                    li 
                        a.analHand(href=`/anal/total`) 맞춤 공모전/장학금 보기
            .advertisement
                image(src="/advertise/ad.PNG")#advertiseImage        
    script.

        const image = document.getElementById("advertiseImage");
        let ad = ["/advertise/ad.PNG","/advertise/ad2.PNG","/advertise/ad3.PNG"];
            
        const imageChange = () =>{
            const RANDOM_NUMBER = Math.floor(Math.random() * 3);
            image.src = ad[RANDOM_NUMBER];
        };
        
        setInterval(imageChange,3000);           