extends layouts/main

block content
    .user_container
        .user_column
            //div
                label 이메일
                span#email
            //div
                label 닉네임
                span#nickName
            //div
                label 대상
                span#target
            //div
                label 거주지역
                span#livesCity
            //div
                label 자기소개
                span#comment
            //div
                form#userDetail
                    button(type="submit") 유저 조회
                form(action=`/user/${user.email}/modify` method="get")
                    input(type="submit" value="유저 수정")
                form#userDelete
                    button(type="submit") 유저 삭제
        .user_column
            h3#title ▶ 찜한목록 총 #{favorite} 건
            table
                tr
                    th 제목
                    th 기간
                    th 분류
                    th 대상
                    th 남은기간
                for item in favoritePoster
                    a(href=`/view/post/${item.id}`)
                        tr
                            td.itemTitle
                                a(href=`/view/post/${item.id}`)= `${item.title}`
                            td= `${item.period}`
                            td= `${item.separate}`
                            td= `${item.target}`
                            td.itemTime= `D${item.d_day}`

                        //a(href=`/view/post/${item.id}`)