mixin postSimpleShowView(post={})
    .postSimpleColumn
        a(href=`post/${post.id}`)
            image.simple(src=`${post.imageUrl}` width= 200 height= 400)
            .overlay     
                h4.simpleTitle= `제목 : ${post.title}`
                h4.simpleSepareate= `분류 : ${post.separate}`
                h4.simpleTarget= `응모대상 : ${post.target}`
                h4.simpleView= `조회 수 : ${post.view}`
                h4.simplePeriod= post.period